body {
    background-color: lightskyblue;
}

.page{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.albums{
    background-color: cadetblue;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
}